<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="maincontent">
            {{>header}}
            <img src="/img/beach.jpg">
            <br /><a href="/weather">{{name}} Weather</a>
        </div>

        {{>footer}}
    </body>
</html>