<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="maincontent">
            {{>header}}
            <br /><a href="/weather">Weather</a>
            <p>{{content}}</p>
        </div>
        {{>footer}}
    </body>
</html>